@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

article h2, article h3 {
  @apply font-bold mb-2 !important;
}

article h6 {
  @apply text-sm font-sans !important;
}

article h2 + p strong {
  @apply text-sky-600 font-bold text-lg !important;
}

article h3 + p strong {
  @apply text-sky-600 font-bold text-lg !important;
}

h6:target {
  padding: .5rem 1rem;
}

h6:target {
  background-color: theme('colors.sky.100');
}

.dark h6:target {
  background-color: theme('colors.sky.950');
}