@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

h5:target {
  padding: .5rem 1rem;
}

h5:target {
  background-color: theme('colors.slate.100');
}

.dark h5:target {
  background-color: theme('colors.slate.700');
}